<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SR03</display-name>
  
  <!--- Temps que l'on garde la session active -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <!--- Listeners -->
  
  <listener>
    <listener-class>config.InitialisationDaoFactory</listener-class>
  </listener>
  
  <!--- Filters -->
  
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
	<filter>
	    <filter-name>AdminFilter</filter-name>
	    <filter-class>Filters.AdminFilter</filter-class>
	</filter>
	
	<filter-mapping>
	    <filter-name>AdminFilter</filter-name>
	    <url-pattern>/Admin/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>StagiaireFilter</filter-name>
	    <filter-class>Filters.StagiaireFilter</filter-class>
	</filter>
	
	<filter-mapping>
	    <filter-name>StagiaireFilter</filter-name>
	    <url-pattern>/Stagiaire/*</url-pattern>
	</filter-mapping>
  
  
  <!--- Servlets -->
  
  <servlet>
    <servlet-name>SLogin</servlet-name>
    <servlet-class>servlets.SLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SAdmin</servlet-name>
    <servlet-class>servlets.SAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAdmin</servlet-name>
    <url-pattern>/Admin/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SStagiaire</servlet-name>
    <servlet-class>servlets.SStagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SStagiaire</servlet-name>
    <url-pattern>/Stagiaire/stagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SGestionUser</servlet-name>
    <servlet-class>servlets.SGestionUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SGestionUser</servlet-name>
    <url-pattern>/Admin/GestionUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SGestionQuestionnaires</servlet-name>
    <servlet-class>servlets.SGestionQuestionnaires</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SGestionQuestionnaires</servlet-name>
    <url-pattern>/Admin/GestionQuestionnaires</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SModifQuestionnaires</servlet-name>
    <servlet-class>servlets.SModifQuestionnaires</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SModifQuestionnaires</servlet-name>
    <url-pattern>/Admin/ModifQuestionnaires</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SGestionQuestions</servlet-name>
    <servlet-class>servlets.SGestionQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SGestionQuestions</servlet-name>
    <url-pattern>/Admin/GestionQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SModifQuestions</servlet-name>
    <servlet-class>servlets.SModifQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SModifQuestions</servlet-name>
    <url-pattern>/Admin/ModifQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SGestionReponses</servlet-name>
    <servlet-class>servlets.SGestionReponses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SGestionReponses</servlet-name>
    <url-pattern>/Admin/GestionReponses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SModifReponses</servlet-name>
    <servlet-class>servlets.SModifReponses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SModifReponses</servlet-name>
    <url-pattern>/Admin/ModifReponses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisualiseQuestionnaireEntier</servlet-name>
    <servlet-class>servlets.VisualiseQuestionnaireEntier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualiseQuestionnaireEntier</servlet-name>
    <url-pattern>/Admin/VisualiseQuestionnaireEntier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Questionnaire1by1</servlet-name>
    <servlet-class>servlets.Questionnaire1by1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questionnaire1by1</servlet-name>
    <url-pattern>/Admin/Questionnaire1by1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SRecherche</servlet-name>
    <servlet-class>servlets.SRecherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRecherche</servlet-name>
    <url-pattern>/Admin/Recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StagiaireListeQuestionnaire</servlet-name>
    <servlet-class>servlets.StagiaireListeQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagiaireListeQuestionnaire</servlet-name>
    <url-pattern>/Stagiaire/StagiaireListeQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StagiaireEffectuerQuestionnaire</servlet-name>
    <servlet-class>servlets.StagiaireEffectuerQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagiaireEffectuerQuestionnaire</servlet-name>
    <url-pattern>/Stagiaire/StagiaireEffectuerQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StagiaireListeParcours</servlet-name>
    <servlet-class>servlets.StagiaireListeParcours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagiaireListeParcours</servlet-name>
    <url-pattern>/Stagiaire/StagiaireListeParcours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StagiaireVisualiseQuestionnaire</servlet-name>
    <servlet-class>servlets.StagiaireVisualiseQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StagiaireVisualiseQuestionnaire</servlet-name>
    <url-pattern>/Stagiaire/StagiaireVisualiseQuestionnaire</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AdminListeParcours</servlet-name>
    <servlet-class>servlets.AdminListeParcours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListeParcours</servlet-name>
    <url-pattern>/Admin/AdminListeParcours</url-pattern>
  </servlet-mapping>
</web-app>